### pandas
- dataframe is the key object in pandas. dataframe is a "type" holding 2d data. dataframe is equipped with powerful methods
- work flow: glance -> data cleaning -> zoom in -> visulize the data -> filter, slice, reshap, extend -> gain insights (machine learning)
### why is df powerful
- vector operation instead of loops
- fractal struture
### pay attention to the naming of dfs
- use descriptive names for dfs

### glance

In [ ]:
import pandas as pd
from pathlib import Path
csv_path = Path("./Resources/sales.csv")
df_sales = pd.read_csv(csv_path)
df_sales.sample(10)
df_sales.head(10)

### data cleaning
- Column Manipulation
- data cleaning, remove duplicates, Nan

In [ ]:
csv_path = Path("./Resources/customers.csv")
df_customers = pd.read_csv(csv_path)
df_customers.head()

In [ ]:
df_customers.columns

In [ ]:
temp_df_customers = df_customers[['Email','FullName', 'CreditCard']]
temp_df_customers['Balance / 1k'] = df_customers['Balance'] / 1000
temp_df_customers

In [18]:
# data clearing
order_data_csv = Path("Resources/order_data.csv")
order_data_df = pd.read_csv(order_data_csv)
order_data_df

     order_no customer_no order_total  order_date
0   452517125    CM458565     $141.25  01-10-2019
1    45251825    CJ458565       14.00  04/25/2019
2  4465241327     AK45765    $1103.36  04-25-2019
3  4465241327     AK45765    $1103.36  04-25-2019
4   413853121    CM458565         NaN   4/24/2019
5    45235825      TV4663       65.42  04-29-2019
6     2356363        2124   258936.12  04-29-2019
7   452519232         NaN     $141.25  01-10-2019

In [33]:
# data clearing


order_data_csv = Path("Resources/order_data.csv")
order_data_df = pd.read_csv(order_data_csv)
# order_data_df.dtypes
order_data_df.count()
order_data_df.isnull().sum()
order_data_df["order_total"] = order_data_df["order_total"].str.strip("$")
order_data_df["order_total"] = pd.to_numeric(order_data_df["order_total"])

mean_total = order_data_df["order_total"].mean()
order_data_df["order_total"].fillna(mean_total, inplace = True)
order_data_df["customer_no"].fillna("Unknown", inplace = True)
order_data_df.drop_duplicates(inplace = True)
order_data_df

# order_data_df["order_date"] = pd.to_datetime(order_data_df["order_date"],infer_datetime_format=True)
# order_data_df

order_data_df["order_date"] = pd.to_datetime(order_data_df["order_date"],infer_datetime_format=True, format='mixed')
order_data_df

/var/folders/s8/pt25jnw136s1n65s8w11wf240000gn/T/ipykernel_43105/644509997.py:21: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  order_data_df["order_date"] = pd.to_datetime(order_data_df["order_date"],infer_datetime_format=True, format='mixed')

     order_no customer_no    order_total order_date
0   452517125    CM458565     141.250000 2019-01-10
1    45251825    CJ458565      14.000000 2019-04-25
2  4465241327     AK45765    1103.360000 2019-04-25
4   413853121    CM458565   37357.822857 2019-04-24
5    45235825      TV4663      65.420000 2019-04-29
6     2356363        2124  258936.120000 2019-04-29
7   452519232     Unknown     141.250000 2019-01-10

### Zoom in

### Visualize

### extend