### pandas
- dataframe is the key object in pandas. dataframe is a "type" holding 2d data. dataframe is equipped with powerful methods
- work flow: glance -> data cleaning -> zoom in -> visulize the data -> filter, slice, reshap, extend -> gain insights (machine learning)
### why is df powerful
- vector operation instead of loops
- fractal struture
### pay attention to the naming of dfs
- use descriptive names for dfs

### glance

In [ ]:
import pandas as pd
from pathlib import Path
csv_path = Path("./Resources/sales.csv")
df_sales = pd.read_csv(csv_path)
df_sales.sample(10)
df_sales.head(10)

### data cleaning
- Column Manipulation
- data cleaning, remove duplicates, Nan

In [ ]:
csv_path = Path("./Resources/customers.csv")
df_customers = pd.read_csv(csv_path)
df_customers.head()

In [ ]:
df_customers.columns

In [ ]:
temp_df_customers = df_customers[['Email','FullName', 'CreditCard']]
temp_df_customers['Balance / 1k'] = df_customers['Balance'] / 1000
temp_df_customers

In [ ]:
# data clearing
order_data_csv = Path("Resources/order_data.csv")
order_data_df = pd.read_csv(order_data_csv)
order_data_df

In [ ]:
# data clearing


order_data_csv = Path("Resources/order_data.csv")
order_data_df = pd.read_csv(order_data_csv)
# order_data_df.dtypes
order_data_df.count()
order_data_df.isnull().sum()
order_data_df["order_total"] = order_data_df["order_total"].str.strip("$")
order_data_df["order_total"] = pd.to_numeric(order_data_df["order_total"])

mean_total = order_data_df["order_total"].mean()
order_data_df["order_total"].fillna(mean_total, inplace = True)
order_data_df["customer_no"].fillna("Unknown", inplace = True)
order_data_df.drop_duplicates(inplace = True)
order_data_df

# order_data_df["order_date"] = pd.to_datetime(order_data_df["order_date"],infer_datetime_format=True)
# order_data_df

order_data_df["order_date"] = pd.to_datetime(order_data_df["order_date"],infer_datetime_format=True, format='mixed')
order_data_df

### Zoom in

In [77]:
people_csv = Path("Resources/people.csv")
people_df = pd.read_csv(people_csv)
people_df.head()

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
0,Aleshia,Tomkiewicz,F,54,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,M,47,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,M,42,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,M,45,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,F,37,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk

In [ ]:
people_df.iloc[2:100:3, 0:3]

In [80]:
name_with_a = people_df.loc[people_df["first_name"].str.contains("z") & people_df["last_name"].str.contains("a")]
name_with_a

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
227,Elizabeth,Pata,F,58,"Hirsch, Henry L Esq",645 Lister Drive,Denwick,Northumberland,NE66 2LQ,01634-662999,01571-674820,elizabeth@gmail.com,http://www.hirschhenrylesq.co.uk
238,Cruz,Fanelli,M,52,"Graham, John A Esq",4565 Blackstock St,Springfields and Trent Vale Wa,Stoke-on-Trent,ST4 5BW,01710-616480,01314-202428,cruz@hotmail.com,http://www.grahamjohnaesq.co.uk
369,Mozell,Westad,M,58,Fox Vision Center,8 Gertrude St,Mossley,Greater Manchester,OL5 0QJ,01348-989703,01766-783716,mozell.westad@westad.co.uk,http://www.foxvisioncenter.co.uk

In [81]:
name_with_a.loc[:,["last_name","gender","city"]]

    last_name gender                            city
227      Pata      F                         Denwick
238   Fanelli      M  Springfields and Trent Vale Wa
369    Westad      M                         Mossley

In [83]:
# people_df["Full Name"] = people_df["first_name"] + people_df["last_name"]
people_df["Full Name"] = people_df["first_name"].str.cat(people_df["last_name"],sep = ' ')
people_df.head()

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web,Full Name
0,Aleshia,Tomkiewicz,F,54,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk,Aleshia Tomkiewicz
1,Evan,Zigomalas,M,47,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk,Evan Zigomalas
2,France,Andrade,M,42,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk,France Andrade
3,Ulysses,Mcwalters,M,45,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk,Ulysses Mcwalters
4,Tyisha,Veness,F,37,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk,Tyisha Veness

### Visualize

### extend

In [ ]:
import pandas as pd
from pathlib import Path
%matplotlib inline

TSX_Data_csv = Path("Resources/TSX_Data.csv")

In [ ]:
# daily return
# cum return
# visualize

#df.pct_change()
#df.cumprod()

In [ ]:
tsx_df = pd.read_csv(TSX_Data_csv)
tsx_df.head()

In [ ]:
# 300, 310, 400
# print((310 - 300)/310)
# print((400 - 310)/400)

# (1 + 0.0322) * (1 + .225)

In [ ]:
# drop unwanted columns
tsx_df = tsx_df.drop(["Open", "High", "Low", "Close", "Volume"], axis = 1)
tsx_df

In [ ]:
tsx_df.set_index(pd.to_datetime(tsx_df["Date"]),inplace = True)
tsx_df.columns

In [ ]:
tsx_df.drop("Date", axis = 1, inplace = True)

In [ ]:
tsx_df

In [ ]:
tsx_df.plot()

In [ ]:
daily_returns = tsx_df.pct_change()
daily_returns.head(20)

In [ ]:
daily_returns.plot(figsize = (10,5))

In [ ]:
# Calculate the cumulative returns using the 'cumprod()' function
cumulative_returns = (1 + daily_returns).cumprod()
real_cumulative_returns = (cumulative_returns - 1)
real_cumulative_returns

In [ ]:
real_cumulative_returns.plot(figsize=(10,5))